Localization
{
	en-us
	{
		#LOC_PDS_Stars_PDS70_displayName = PDS70^N
		#LOC_PDS_Stars_PDS70_description = PDS70 is a bright orange fireball not too far from Kerbin, and an exciting find as Protostars are exceptionally rare. It would be mundane if not for its beautiful expansive planetary disk, that stretches as far as Jool is from Kerbol. Many potential planets have even been found, all almost as new as the star itself.
	}
}

