Localization
{
    en-us
    {

        #LOC_NOVUS_Stars_Novus_displayName = Novus^N
        #LOC_NOVUS_Stars_Novus_description = Novus is a newly-formed blueish white star that is the result from the collision of two smaller ones. As a result, its habitable zone was pushed outwards, cooking paradise planets and thawing ice worlds.

        #LOC_NOVUS_Planets_Helia_displayName = Helia^N
        #LOC_NOVUS_Planets_Helia_description = Helia is the obliterated remnant of a Hycaen world. Following Novus's merge, it's thick atmosphere was blown mostly away, and its oceans have slowly evaporated downwards. As a result, a flat, barren ocean floor of a landscape remains, though some basic life may have survived somewhere, such as large craters or lakes. Be warned of the high-oxygen water however, it is most likely toxic to life foreign to this rock. One will also want to avoid the anomalous weather, as Novus is not so kind to this world...

        #LOC_NOVUS_Planets_Ardor_displayName = Ardor^N
        #LOC_NOVUS_Planets_Ardor_description = PLACEHOLDER TEXTURE WHILE I DEAL WITH SEAMS | Ardor is a gas giant that strayed far too close to Novus when it merged. A ripped apart, burning atmosphere with a shattered moon system, and pretty Aurorae from Novus. Its incredibly hot, and a prime place for scientific discovery, as it may have shielded a moon from the initial merge of Novus...
        
        #LOC_NOVUS_Planets_Adaris_displayName = Adaris^N
        #LOC_NOVUS_Planets_Adaris_description = Adaris is the only surviving moon of Ardor, though surviving isn't quite the correct word. Its been shattered beyond recognition, and the large blue star certaintly doesn't help, nor does the constant bombardment from Ardor's disk.
        
        // biomes for helia (how fun)

        #LOC_Novus_Planets_Helia_WaterBiome = Ocean
        #LOC_Novus_Planets_Helia_BarrenFlatsBiome = Barren Flats
        #LOC_Novus_Planets_Helia_MetallicFlatsBiome = Metallic Flats
        #LOC_Novus_Planets_Helia_HumidBiome = Humid Flats
        #LOC_Novus_Planets_Helia_CraterBiome = Craters
        #LOC_Novus_Planets_Helia_LakeBiome = Pancake Lake
        #LOC_Novus_Planets_Helia_SaltBiome = Salt Deposits
        #LOC_Novus_Planets_Helia_ScorchedBiome = Scorched Flats

    }
}