Localization
{
    en-us
    {

        #LOC_NOVUS_Stars_Novus_displayName = Novus^N
        #LOC_NOVUS_Stars_Novus_description = Novus is a newly-formed blueish white star that is the result from the collision of two smaller ones. As a result, its habitable zone was pushed outwards, cooking paradise planets and thawing ice worlds.

        #LOC_NOVUS_Planets_Helia_displayName = Helia^N
        #LOC_NOVUS_Planets_Helia_description = Helia is the obliterated remnant of a Hycaen world. Following Novus's merge, it's thick atmosphere was blown mostly away, and it's oceans have slowly evaporated downwards. As a result, a flat, barren ocean floor of a landscape remains, full of craters and lakes. Life may have survived within it's highly oxygenated water, though a kerbal would first need to survive Helia's anomalous weather to find out.

        #LOC_NOVUS_Planets_Ardor_displayName = Ardor^N
        #LOC_NOVUS_Planets_Ardor_description = Ardor is a gas giant that strayed far too close to Novus when it merged. A ripped apart, burning atmosphere with a shattered moon system, and pretty Aurorae from Novus. Its incredibly hot, and a prime place for scientific discovery, as it may have shielded a moon from the initial merge of Novus...
        
        #LOC_NOVUS_Planets_Adaris_displayName = Adaris^N
        #LOC_NOVUS_Planets_Adaris_description = Adaris is the only surviving moon of Ardor, though surviving isn't quite the correct word. Its been charred beyond recognition by Novus and is bombarded constantly by Ardor's disk. A hellish volcanic world remains, though it may provide some pretty sights of Ardor.
        
        #LOC_NOVUS_Planets_Novera_displayName = Novera^N
        #LOC_NOVUS_Planets_Novera_description = Novera is a beautiful, humid, tropical world with very shallow oceans and many islands and atolls. Its the result of an Iceball that rapidly melted, turning its ice to water and oxygen lakes into a breathable atmosphere. Unlike to the inner planets, Novus is far kinder, providing beautiful Aurorae and very little danger. 

        #LOC_NOVUS_Planets_Mirage_displayName = Mirage^N
        #LOC_NOVUS_Planets_Mirage_description = Mirage is a previously habitable paradise that got cooked to oblivion by Novus. Its a hot desert world now, with an unstable climate and atmosphere. Although a brave kerbal may even be able to breath it's trace oxygen, he would probably need SPF2000 sunscreen. It's Duna away from home, with a thick enough atmosphere to fly around in.
        
        #LOC_NOVUS_Planets_Khion_displayName = Khion^N
        #LOC_NOVUS_Planets_Khion_description = Khion is a lonely ice giant that is slowly heating up, resting on the edge of the Novus system. It's deep icy blue colors contrast white bands of clouds warming under Novus's heat. Khion's moon system is ripe for scientific discovery, as it is just far enough from Novus to not be burnt.
        
        #LOC_NOVUS_Planets_Boreas_displayName = Boreas^N
        #LOC_NOVUS_Planets_Boreas_description = Boreas is a cold, icy, barren blue rock that is slowly melting under Novus. Cold tundras, expanses of ice flats and half-frozen water. Boreas posseses unusually thick polar clouds and even snowfall, due to the low gravity and lakes. Although frigid, it is quite bearable, nearly as cold as Kerbin in the winter. Referred to as the "Warm Vall" of the Novus System.
        
        // biomes for helia (how fun)

        #LOC_Novus_Planets_Helia_WaterBiome = Ocean
        #LOC_Novus_Planets_Helia_BarrenFlatsBiome = Barren Flats
        #LOC_Novus_Planets_Helia_MetallicFlatsBiome = Metallic Flats
        #LOC_Novus_Planets_Helia_HumidBiome = Humid Flats
        #LOC_Novus_Planets_Helia_CraterBiome = Craters
        #LOC_Novus_Planets_Helia_LakeBiome = Pancake Lake
        #LOC_Novus_Planets_Helia_SaltBiome = Salt Deposits
        #LOC_Novus_Planets_Helia_ScorchedBiome = Scorched Flats

        // Biomes for Adaris

        #LOC_Novus_Planets_Adaris_LavaBiome = Lava
        #LOC_Novus_Planets_Adaris_BasaltPlainsBiome = Basaltic Plains
        #LOC_Novus_Planets_Adaris_HotPlainsBiome = Hot plains
        #LOC_Novus_Planets_Adaris_LowValleysBiome = Low Valley
        #LOC_Novus_Planets_Adaris_VolcanicPeaks = Volcanic Peaks
        #LOC_Novus_Planets_Adaris_PolesBiome = Poles
        


        // Biomes for Mirage
        #LOC_Novus_Planets_Mirage_ValleyBiome = Valley Flats
        #LOC_Novus_Planets_Mirage_MountainFlatsBiome = Mountainous Flats
        #LOC_Novus_Planets_Mirage_MountainMidlandsBiome = Mountainous Midlands
        #LOC_Novus_Planets_Mirage_MountainHighlandsBiome = Mountainous Highlands
        #LOC_Novus_Planets_Mirage_MountainPeaksBiome = Mountainous Peaks
        #LOC_Novus_Planets_Mirage_MountainHillsBiome = Mountainous Hills
        #LOC_Novus_Planets_Mirage_AnomalyBiome = Desert Anomaly


        // Biomes for Boreas
        #LOC_Novus_Planets_Boreas_LakesBiome = Melting Lakes
        #LOC_Novus_Planets_Boreas_PeaksBiome = Peaks
        #LOC_Novus_Planets_Boreas_HighlandsBiome = Highlands
        #LOC_Novus_Planets_Boreas_FlatsBiome = Tundra
        #LOC_Novus_Planets_Boreas_IceChannelsBiome = Ice Channels

    }
}