Localization
{
    en-us
    {

        #LOC_NOVUS_Stars_Novus_displayName = Novus^N
        #LOC_NOVUS_Stars_Novus_description = Novus is a newly-formed blueish white star that is the result from the collision of two smaller ones. As a result, its habitable zone was pushed outwards, cooking paradise planets and thawing ice worlds.
    }
}