// Misc stuff
Localization
{
    en-us
    {
        #LOC_KSF_WormholeEnter = <color=#ff0000>[Warning: Spacetime distortion present]</color>
        #LOC_KSF_WormholeExit = <color=#1F8A4C>[Control re-acquired, Spacetime has returned to normal]</color>
    }
}