// Top level node weirdness
@Kopernicus:BEFORE[KSF]
{
	#@KSFSettings {}
}
@Kopernicus:FINAL
{
	!KSFSettings {}
}

@Kopernicus_config:BEFORE[KSF]
{
	#@KSFSettings {}
}
@Kopernicus_config:FINAL
{
	!KSFSettings {}
}


@Scatterer_sunflare:BEFORE[KSF]
{
	#@KSFSettings {}
}
@Scatterer_sunflare:FINAL
{
	!KSFSettings {}
}


@Scatterer_atmosphere:BEFORE[KSF]
{
	#@KSFSettings{}
}
@Scatterer_atmosphere:FINAL
{
	!KSFSettings{}
}


@Scatterer_planetsList:BEFORE[KSF]
{	
	#@KSFSettings{}
}
@Scatterer_planetsList:FINAL
{	
	!KSFSettings{}
}


@Scatterer_ocean:BEFORE[KSF]
{	
	#@KSFSettings{}
}
@Scatterer_ocean:FINAL
{	
	!KSFSettings{}
}


@PQS_MANAGER:BEFORE[KSF]
{
	#@KSFSettings {}
}
@PQS_MANAGER:FINAL
{
	!KSFSettings {}
}

@EVE_CLOUDS:BEFORE[KSF]
{
	#@KSFSettings {}
}
@EVE_CLOUDS:FINAL
{
	!KSFSettings {}
}

@Singularity:BEFORE[KSF]
{
	#@KSFSettings {}
}
@Singularity:FINAL
{
	!KSFSettings {}
}

@Parallax:BEFORE[KSF]
{
	#@KSFSettings {}
}
@Parallax:FINAL
{
	!KSFSettings {}
}

@ParallaxScatters:BEFORE[KSF]
{
	#@KSFSettings {}
}
@ParallaxScatters:FINAL
{
	!KSFSettings {}
}

@principia_gravity_model:FINAL
{
	!KSFSettings {}
}

@SPACEDUST_RESOURCE:BEFORE[KSF]
{
	#@KSFSettings {}
}

@SPACEDUST_RESOURCE:FINAL
{
	!KSFSettings {}
}

@EXPERIMENT_DEFINITION:BEFORE[KSF]
{
	#@KSFSettings {}
}

@EXPERIMENT_DEFINITION:FINAL
{
	!KSFSettings {}
}

@PLANETARY_RESOURCE:BEFORE[KSF]:HAS[#PlanetName[Kcalbeloh]]
{
	#@KSFSettings {}
}

@PLANETARY_RESOURCE:BEFORE[KSF]:HAS[#PlanetName[Sun]]
{
	#@KSFSettings {}
}

@PLANETARY_RESOURCE:BEFORE[KSF]:HAS[#PlanetName[Kerbin]]
{
	#@KSFSettings {}
}

@BIOME_RESOURCE:BEFORE[KSF]:HAS[#PlanetName[Kerbin]]
{
	#@KSFSettings {}
}

@PLANETARY_RESOURCE:FINAL
{
	!KSFSettings {}
}

@BIOME_RESOURCE:FINAL
{
	!KSFSettings {}
}

// Singularity weirdness

@Singularity:HAS[@KSFSettings:HAS[~novusWormhole[?rue]]]:LAST[KSF]
{
    !Singularity_object[WHNSB]{}
	!Singularity_object[WHNSA]{}
}
